@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 400px;
  min-width: 100vh;
  margin: 0 auto;
  background-image: url(https://images.unsplash.com/photo-1690205073996-7fde74f5fd56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

form {
  margin-top: 50px;
  /* color: rgb(0, 0, 0); */
}
input {
  margin-top: 10px;
  width: 450px;
  height: 30px;
  border-radius: 5px;
  padding-left: 50px;
  border-bottom: 2px  ;
  border: none;
  border-bottom: 3px solid black;
  /* background-color: transparent; */
}
input[type="submit"],input[type="reset"]{
  padding-left: 0px;
    
}
input[type="submit"]{
    width: 100px;
    height: 30px;
    background-color: rgb(9, 9, 221);
    color: white;
    border-radius: 10px;
    
}
input[type="reset"]{
    width: 100px;
    height: 30px;
    background-color: rgb(221, 9, 9);
    color: white;
    border-radius: 10px;
    
}
input[type="submit"]:hover, input[type="reset"]:hover{
    background-color:salmon;
    border-radius: 10px;
}
label{
    margin-top: 2px;
    display: block;
    font-size: 20px;
}
form > p{
    margin-top:10px;
}
meter{
    margin-top: 20px;
    width: 450px ;
}