/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=sw3); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 1000px;
    background-color: #fff;
    position: relative;
}
.x{
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}
.card{
    position: absolute;
    left: 10%;
    z-index: 1;
    background-color: salmon;
}
.card1{
    position: absolute;
    left: 20%;
    top: 10%;
    z-index: 2;
 background-color: rgba(102, 51, 153);
}
.card3{
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 3;
    background-color:rgba(55, 40, 40, 0.9);
}
.card2{
    position: absolute;
    left: 35%;
    top: 25%;
    z-index: 1;
    background-color: rgba(0, 128, 0);
}