@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.drag-n-drop {
  padding: 2px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px dotted grey;
}
.when-drag-are-occur {
  border: 5px dotted red;
}
.drag-n-drop-label {
 padding: 20px;
  width: 100%;
  text-align: center;
  color: black;
}
#drag-n-drop-input {
  display: none;
}
