@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: #ffffff;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left > img {
  width: 40px;
  border: 1px solid black;
  border-radius: 20px;
}
.nav-left > span {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.nav-middle {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #303133;
  font-size: 16px;
}
.nav-right > input {
  height: 50px;
  padding-left: 30px;
  margin: 10px;
  border-radius: 15px;
  border-color: #ddddde;
  font-size: 18px;
  color: #303133;
}
.nav-right > img {
  position: absolute;
  top: 5.5%;
  right: 11.2%;
  width: 30px;
}
/* page 1 */

.page1 {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1-left {
  width: 40%;
  max-height: 70%;
}
.page1-left > .tilde {
  color: #8873f0;
  position: absolute;
  top: 26%;
  left: 8%;
  transform: rotate(-30deg);
  font-size: 16px;
}
.page1-left > .page1-heading {
  font-size: 55px;
  font-weight: 600;
}

.page1-para > img {
  width: 28px;
  position: absolute;
  top: 58.5%;
  left: 9.5%;
}
.page1-para > span {
  position: absolute;
  top: 59%;
  left: 9.5%;
}
.page1-btn {
  margin-top: 16%;
  width: 100%;
  height: 10vh;
  border: none;
  display: flex;
}
.page1-btn > button {
  width: 25%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
}
.btn1 {
  background-color: #8873f0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.btn2 {
  background-color: transparent;
  border: none;
  > img {
    width: 20px;
    transform: rotate(40deg);
  }
}
.page1-footer {
  width: 50%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > img {
    background-color: #f6f6f6;
    border-radius: 5px;
  }
}
.page1-right {
  width: 40%;
  height: 85vh;
}
.img-backward {
  width: 35%;
  height: 62%;

  position: absolute;
  top: 22%;
  right: 18%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #dcbf5c;
  color: black;
  transform: rotate(90deg);
}
#myimg {
  position: absolute;
  z-index: 99;
}
.side-text {
  position: absolute;
  top: 20%;
  right: 12%;
  font-size: 18px;
  font-weight: 600;
}
.img-forward {
  position: absolute;
  top: 50%;
  right: 25%;
}
.linebig {
  width: 220px;
  border-bottom: 1px solid #636363;
  rotate: 90deg;
  position: absolute;
  top: 48%;
  right: 5%;
}
.linesmall {
  width: 40px;
  border-bottom: 1px solid #636363;
  rotate: 90deg;
  position: absolute;
  top: 68%;
  right: 11%;
}
.text-rotate {
  width: 100px;
  /* border-bottom:1px solid black ; */
  rotate: 90deg;
  position: absolute;
  top: 80%;
  font-size: 12px;
  right: 9%;
}
/* page 2 */
.page2 {
  width: 100%;
  height: 100vh;
  background-color: #fcda69;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* page 2 left */
.page2-tilde {
  color: #8873f0;
  position: absolute;
  top: 14.2%;
  left: 7.8%;
  transform: rotate(-30deg);
  font-size: 16px;
}

.page2-left-content {
  height: 70vh;
  margin-left: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.page2-left-top-content {
  > h1 {
    font-size: 55px;

    margin-bottom: 10px;
  }
  > span {
    display: flex;
    align-items: self-start;
    font-size: 14px;
  }
  > span > img {
    width: 25px;
  }
}
.page2-right {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
.page2-line {
  display: block;
  width: 750px !important;
  border-top: 3px solid black;
}
.p2 {
  margin-top: 20px;
  display: flex;
  font-weight: 600;
  > h1 {
    font-size: 30px;
    font-weight: 400;
  }
}
.p2-footer {
  width: 90%;
  margin-top: 30px;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
  > img {
    color: white;
    background-color: #8873f0;
    height: 30px;
    border-radius: 40px;
    transform: rotate(30deg);
  }
}
/* page 3 */
.page3 {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  background-color: #ffffff;
}

/* page3-left */
.page3-left {
  padding-top: 5%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  > .page3-tilde {
    color: #8873f0;
    position: absolute;
    top: 6.5%;
    left: -3%;
    transform: rotate(-30deg);
    font-size: 16px;
  }
  > .p3-heading {
    font-size: 55px;
    font-weight: 600;
  }
  > .p3-para {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;

    > img {
      margin-right: 10px;
      width: 25px;
    }
  }
  > h1 {
    font-weight: 500;
  }
  > .p3-box {
    margin-top: 20px;
    /* background-color: red; */
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    > .upper-data {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        > img {
          border: 5px solid transparent;
          border-radius: 40px;
          width: 60px;
        }
      }
    }
    > .lower-data {
      justify-content: space-between;
      display: flex;
      > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        > img {
          width: 60px;
          border: 5px solid transparent;
          border-radius: 40px;
        }
      }
    }
  }
}

/* page3-right */
.page3-right {
  width: 50%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .p3-right-top {
    padding-top: 10%;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > h1 {
      margin-bottom: 10px;
    }
    > .para-exp {
      display: flex;
      justify-content: space-evenly;
      /* align-items: center; */
      flex-direction: column;
      > .p3-line {
        border: 1px solid black;
      }
      > .p3-where-exp {
        margin-top: 10px;
        width: 300px;
        /* background-color: salmon; */
        display: flex;
        justify-content: space-between;
        > span > .p3-fade {
          margin-top: 5px;
          font-weight: 400;
        }
      }
    }
  }
  > .p3-right-bottom {
    height: 40vh;
    /* background-color: black; */
  }
}
/* page-4 */
.page4 {
  width: 100%;
  padding: 0 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: #fcda69;
  > .p4-tilde {
    color: #8873f0;
    position: absolute;
    top: 7%;
    left: 8%;
    transform: rotate(-30deg);
    font-size: 16px;
  }
  > .p4-head {
    font-size: 55px;
  }
  > div {
    .p4-pro {
      > .p4-line {
        width: 300px;
        border: 1px solid black;
      }
      > div {
        margin-top: 15px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        > img {
          height: 30px;
          background-color: #8873f0;
          padding: 5px;
          border-radius: 15px;
          transform: rotate(30deg);
        }
      }
    }
  }
}
.p4 {
  display: flex;
  justify-content: space-between;
}
#p4-middle {
  position: relative;
  top: -30%;
}
#p4-end {
  position: relative;
  top: -60%;
}

small {
  font-size: 10px;
}
.page5 {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  background-color: #ffffff;
}

.page6 {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: 100vh;
  background-color: #fcda69;
}
.footer {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: 10vh;
  background-color: #fcda69;
}
