@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* outline:1px solid black; */
}
html,
body {
  width: 100%;
  min-height: 100%;
}
nav {
  background-color: #ffffff;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left > img {
  width: 40px;

  border: 1px solid black;
  border-radius: 20px;
}
.nav-left > span {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.nav-middle {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #303133;
  font-size: 16px;
}
.nav-right > input {
  height: 50px;
  padding-left: 30px;
  margin: 10px;
  border-radius: 15px;
  border-color: #ddddde;
  font-size: 18px;
  color: #303133;
}
.nav-right > img {
  position: absolute;
  top: 5.5%;
  right: 11.2%;
  width: 30px;
}
/* page 1 */

.page1{
    /* background-color: red; */
    width: 100%;
    height: 85vh;
    
    display: flex ;
    justify-content: center;
    align-items: center;
}
.page1-left{
    width: 40%;
    max-height: 70%;
   
}
.page1-left > .tilde{
    color: #5a4ba5;
    position: absolute;
    top: 26%;
    left: 8%;
    transform: rotate(-30deg);
    font-size: 16px;
}
.page1-left > .page1-heading{
    font-size: 55px;
    font-weight: 600;
}

.page1-para > img{
 width: 28px;
 position: absolute;
 top: 58.5%;
 left: 9.5%;
}
.page1-para > span{
 position: absolute;
 top: 59%;
 left: 9.5%;
}
.page1-btn{
     margin-top: 16%;
     width: 100%;
     height: 10vh;
     border: none;
     display: flex;

}
.page1-btn > button{
    width: 25%;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
}
.btn1{
 background-color: #8873F0;
 color: white;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border: none;

}
.btn2{
    background-color: transparent;
    border: none;
    > img{
        width: 20px;
        transform: rotate(40deg);
    }
   }
.page1-footer{
    width: 50%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > img {
        background-color: #F6F6F6;
        border-radius: 5px;
    }
}
.page1-right{
    width: 40%;
    height: 85vh;
}
.img-backward{
    width: 35%;
    height:62%;
    
    position:absolute;
    top: 22%;
    right: 18%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #DCBF5C;
    color: black;
    transform: rotate(90deg);
}
#myimg{
    position: absolute;
    z-index: 99;
}
.side-text{
    position: absolute;
    top: 20%;
    right: 12%;
    font-size: 18px;
    font-weight: 600;
}
.img-forward{
    position: absolute;
    top: 50%;
    right: 25%;
}
.linebig{
    width: 220px;
    border-bottom: 1px solid #636363 ;
    rotate: 90deg;
    position: absolute;
    top: 48%;
    right: 5%;
}
.linesmall{
    width: 40px;
    border-bottom: 1px solid #636363 ;
    rotate: 90deg;
    position: absolute;
    top: 68%;
    right: 11%;
}
.text-rotate{
    width: 100px;
    /* border-bottom:1px solid black ; */
    rotate: 90deg;
    position: absolute;
    top: 80%;
    font-size: 12px;
    right: 9%;
}
